@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  background-image: url("/src/assets/background.webp");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 43%;
  color: #ffffff;
  align-items: center;
  min-height: 100vh;
  font-family: "PT Sans", sans-serif;
}

@media (min-width: 576px) {
  #app {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  #app {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  #app {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  #app {
    max-width: 1140px;
  }
}

@media (min-width: 1366px) {
  #app {
    max-width: 1280px;
  }
}

@media (min-width: 1400px) {
  #app {
    max-width: 1320px;
  }
}

@media (min-width: 1920px) {
  #app {
    max-width: 1810px;
  }
}

@media screen and (min-width: 640px) {
  .kanban__column {
    flex: 0 0 calc(33.333% - 20px);
  }
}